html, body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: darkviolet;
    background-color: lightgray;
    min-width: 570px;
}

a{
    color:darkviolet;
    
}
#base-title{
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#base-welcome{
    border-top:solid;
    border-bottom:solid;
    border-color:darkviolet;
    color:black;
}

#new-adventure-border{ 
    background-color:white;
    border-style:double;
    border-color:darkviolet;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 2.5% 1% 2.5% 1%;
}

#home-guide-text{
    
    font-weight: bolder;
}

#f-label-text{
    font-size: larger;
}

#na-para-text{
    font-size: larger;
    font-weight: bolder;
    padding: 1%;   
}

#b-adventures-labels{
    color:black;
}

#submit-btn{
    background-color: darkviolet;
    border-color: darkviolet;
    color: white;
}

#about-text-style{
    font-size: xx-large;
    margin: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#about-h2-text{
    font-size:4em;
    font-weight: bolder;
    
}