
{% extends "base.html" %} 

{% block content %}
  <p class ="row justify-content-center" style="color:black; font-size:x-large">There is/are {{ count }} blogpost(s) in the blog</p>
  
  <ul class ="text-center px-4" id ="home-guide-text" >
    The New Adventure Link will take you to a page to share your adventures and submit recommended adventures.
  </ul>
  <ul class ="text-center px-4" id ="home-guide-text">
    The Recent Adventures Link will take you to Penny's recent and recommended adventures.
  </ul>
  <ul class ="text-center px-4" id ="home-guide-text">
    The About Link will take Penny's Profile.
  </ul>


{% endblock %}