{% extends "base.html" %} 
{% block content %}
<div class="container">
  <div class="new-adventure-border">
    <h2 class="mx-2">{{ post.title }}</h2>  
    <div class="row">
      <span>
        <span class="b-adventures-labels-full">Author:</span>
        <span> {{ post.author }}</span>
      </span>
    </div>
    
    <div class="row pb-2">
      <span>
        <span class="b-adventures-labels-full">Publish Date: </span>
        <span>{{ post.publish_date }} </span>
      </span>
    </div>

    {% if post.description|length <= 5 %}
      <p class="b-adventures-des-full">Description is currently not available.</p>
    {% else %}
      <p class="b-adventures-des-full">{{ post.description }} {% endif %}</p>
      <p>
        <a class="b-adventures-labels-full" href="{% url 'adventures' %}">Back to Recent Adventures</a>
      </p>
  </div>
</div>
{% endblock %}
